<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pku.ipku" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".ui.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="r8Qt5owRUFKg55ELMeF2OsnN" />

        <activity
            android:name=".ui.AppStart"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.studyGuide.ClassDetail"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.person.freeClassRoom.FreeClassRoomInAnBuilding"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.account.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.navigation.MainNavigationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.person.PersonInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.person.ScholarshipActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.person.ScoreActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.person.library.LibraryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/library_searchable" />
        </activity>
        <activity
            android:name=".ui.person.freeClassRoom.FreeClassroomActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.person.queryClass.QueryClassActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.person.arrearageState.ArrearageStateActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.pkuInfo.PkuPublicInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.util.WebViewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.person.library.LibrarySearchResultActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.account.AccountManagementActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.pkuInfo.PkuLectureActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name=".ui.pkuInfo.PkuNoticeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name=".ui.pkuInfo.FindAJobActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name=".ui.person.CurriculumActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name=".ui.person.queryClass.QueryResultActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@style/Theme.MyActionBarTheme"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
    </application>

</manifest>
