<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xingliang.toolforme">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission  android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.xingliang.toolforme.ui.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="掌上燕园">

        <receiver android:name="com.xingliang.toolforme.widget.NetworkWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/network_widget_provider" />
        </receiver>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="r8Qt5owRUFKg55ELMeF2OsnN" />

        <activity
            android:name="com.xingliang.toolforme.ui.AppStart"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xingliang.toolforme.ui.person.freeClassRoom.FreeClassRoomInAnBuilding"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.xingliang.toolforme.ui.account.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.xingliang.toolforme.ui.navigation.MainNavigationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.xingliang.toolforme.ui.person.PersonInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.xingliang.toolforme.ui.person.ScholarshipActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.xingliang.toolforme.ui.person.ScoreActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.xingliang.toolforme.ui.person.library.LibraryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/library_searchable" />
        </activity>
        <activity
            android:name="com.xingliang.toolforme.ui.person.freeClassRoom.FreeClassroomActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.xingliang.toolforme.ui.person.queryClass.QueryClassActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.xingliang.toolforme.ui.person.arrearageState.ArrearageStateActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.xingliang.toolforme.ui.pkuInfo.PkuPublicInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.xingliang.toolforme.ui.util.WebViewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.xingliang.toolforme.ui.person.library.LibrarySearchResultActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xingliang.toolforme.ui.account.AccountManagementActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.xingliang.toolforme.ui.pkuInfo.PkuLectureActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.xingliang.toolforme.ui.pkuInfo.PkuNoticeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.xingliang.toolforme.ui.pkuInfo.FindAJobActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.xingliang.toolforme.ui.person.queryClass.QueryResultActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.xingliang.toolforme.ui.account.NetworkHelperActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.xingliang.toolforme.ui.setting.PhoneActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.xingliang.toolforme.ui.setting.PkuMap"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.xingliang.toolforme.ui.setting.BeijingRailway"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.xingliang.toolforme.ui.setting.AboutActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.xingliang.toolforme.ui.person.CurriculumAsWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.xingliang.toolforme.ui.person.CurriculumWeekActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
    </application>

</manifest>
